<div *ngIf="isAdmin">
  <label>
    Nombre
  </label>
  <input [(ngModel)]="oficina.nombre">

  <app-button 
    [disable]= "!oficina.nombre"
    (buttonClicked)= "guardarOficina()"
  >
  </app-button>
</div>

<!-- <button (click)="guardarOficina()" [disabled]="!oficina.nombre">
  GUARDAR
</button> -->

<p *ngFor="let varOficina of listaOficinas">
  Nombre oficina: {{varOficina.nombre}}
</p>