<label>
  Nombre
</label>
<input [(ngModel)]="persona.nombre">

<label>
  Apellido
</label>
<input [(ngModel)]="persona.apellido">

<label>
  Pais
</label>
<select [(ngModel)]="persona.pais">
  <option *ngFor="let pais of listaPaises" [ngValue]="pais">
    {{pais.name}}
  </option>
</select>

<label>
  Fecha
</label>
<input type="text" [(ngModel)]="persona.fechaNacimiento" bsDatepicker>


<!-- <button (click)="guardarPersona()" 
[disabled]="!persona.nombre || !persona.apellido || !persona.pais">
  GUARDAR
</button> -->
<app-button
  [disable]= "!persona.nombre || !persona.apellido || !persona.pais"
  (buttonClicked)= "guardarPersona()"
>
</app-button>

<p *ngFor="let varPersona of listaPersonas">
  Nombre y Apellido: {{varPersona.nombre}} {{varPersona.apellido}}, {{varPersona.pais.name | uppercase }}, fecha: {{varPersona.fechaNacimiento | date}}
</p>