.active {
    color: red;
}

.icon-arrow-up2 {
    display: block;
    padding: 20px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
 }
 .img-arrow {
    width: 30px;
    height: 30px;
 }
 